<% if current_tenant_account.present? %>
  <% current_tenant = Tenant.find_by(id: current_tenant_account.tenant_id) %>
  <% facebook_account = TenantAccount.find_by(tenant_id: current_tenant.id, provider: :facebook) %>
  <% google_account = TenantAccount.find_by(tenant_id: current_tenant.id, provider: :google) %>
  <% email_account = TenantAccount.find_by(tenant_id: current_tenant.id, provider: :email) %>
<% end %>

<section id="personal">
  <% if tenant_account_signed_in? %>
    <%= form_for [current_tenant], url: {action: 'update', controller: 'tenants'}, html: {class: 'personal-form'}, method: :put do |f| %>

      <div class="personal-photo">
        <% image_link = current_tenant.avatar? ? current_tenant.avatar_url : asset_path('pages/personal-photo.png') %>
        <%= image_tag(image_link, class: 'preview-image-container') %>

        <div class="image-upload">
          <label for="file-input">
            <b class="photo-load">Upload a photo</b>
          </label>
          <%= f.file_field :avatar, id: 'file-input', label: 'Upload a photo', class: 'photo-load', style: '' %>
        </div>
      </div>
      <!--<a href="#" class="photo-load">Загрузить фото</a>-->

      <%= f.text_field :t_first_name, class: 'form-input name', placeholder: 'Enter your name' %>
      <%= f.text_field :t_last_name, class: 'form-input name', placeholder: 'Enter your last name' %>
      <%= f.text_field :telephone, class: 'form-input phone', placeholder: 'Enter your phone' %>

      <button type="submit" class="" style="background: transparent; border: 0px; color: #4086f5">Save</button>
    <% end %>

    <div class="accounts">
      <div class="accounts__text">Your accounts:</div>

      <div class="accounts__items">
        <% if facebook_account.present? %>
          <a href="#" class="social__item fb"></a>
        <% end %>

        <% if google_account.present? %>
          <a href="#" class="social__item ggl"></a>
        <% end %>

        <% if email_account.present? %>
          <a href="#" class="social__item">email</a>
        <% end %>
      </div>

      <% if facebook_account.present? %>
        <input class="form-input fb" type="text" name="" placeholder="" value="<%= facebook_account.email %>">

        <% if facebook_account.active_for_authentication? %>
          <div class="form-msg">Confirmed.
            <a href="resend_confirmation?provider=facebook">Resend</a>
          </div>
        <% else %>
          <div class="form-msg">Not confirmed.
            <a href="resend_confirmation?provider=facebook">Resend</a>
          </div>
        <% end %>

      <% end %>

      <% if google_account.present? %>
        <input class="form-input ggl" type="text" name="" placeholder="" value="<%= google_account.email %>">

        <% if google_account.active_for_authentication? %>
          <div class="form-msg">Confirmed.
            <a href="resend_confirmation?provider=google">Resend</a>
          </div>
        <% else %>
          <div class="form-msg">Not confirmed.
            <a href="resend_confirmation?provider=google">Resend</a>
          </div>
        <% end %>

      <% end %>

      <% if email_account.present? %>
        <input class="form-input" type="text" name="" placeholder="" value="<%= email_account.email %>">

        <% if email_account.active_for_authentication? %>
          <div class="form-msg">Confirmed. <a href="">Resend</a></div>
        <% else %>
          <div class="form-msg">Not confirmed. <a href="">Resend</a></div>
        <% end %>

      <% end %>


      <div class="accounts__text">You can also connect:</div>
      <% unless facebook_account.present? %>
        <!--<button class="btn accounts__btn">Facebook</button>-->
        <%=  link_to "Facebook", tenant_account_facebook_omniauth_authorize_path, :class => "btn accounts__btn"  %>
      <% end %>

      <% unless google_account.present? %>
        <!--<button class="btn accounts__btn">Google</button>-->
        <%=  link_to "Google", tenant_account_google_omniauth_authorize_path, :class => "btn accounts__btn"  %>
      <% end %>

      <!--<% unless email_account.present? %>
            <button class="btn accounts__btn">Подключить Email напрямую</button>
          <% end %>-->
    </div>
    <%= link_to 'Logout', destroy_tenant_account_session_path, :method => :delete %>

  <% else %>
    <p>Login, please, to access personal info</p>
  <% end %>
</section>