<div class="be-content" xmlns="http://www.w3.org/1999/html">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @tenant.id ? 'Редактирование арендатора' : 'Создание нового арендатора' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_tenants_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @tenant, url: {action: @tenant.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
              <div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Аватар</label>
                <div class="col-md-10">
                  <% image_link = @tenant.avatar? ? @tenant.avatar : asset_path('admin/200_hold.png') %>
                  <%= image_tag(image_link, class: 'preview-image-container') %>
                  <%= f.file_field :avatar, label: 'Аватар' %>
                  <% if @tenant.avatar? %>
                    <label>
                      <%= f.check_box :remove_avatar, label: 'Удалить аватар' %>
                    </label>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2">Телефон</label>
                <div class="col-md-4">
                  <input class="form-control" id="current_telephone" name="tenant[telephone]" value="<%= @tenant.telephone %>"/>
                </div>
              </div>
              <% if @tenant.id.present? && @tenant.unconfirmed_telephone.present? %>
                <div class="form-group">
                  <label class="control-label col-md-2">Неподтврежденный телефон</label>
                  <div class="col-md-4">
                    <input class="form-control" id="unconfirmed_telephone" name="tenant[unconfirmed_telephone]" value="<%= @tenant.unconfirmed_telephone %>"/>
                  </div>
                </div>
              <% end %>

              <% if @tenant.id.present? %>
                <div class="form-group">
                  <label class="control-label col-md-3">Подключенные аккаунты</label>
                  <div class="col-md-9">
                    <% @accounts.each do |e| %>
                      <label><%= e.email %> (<%= e.provider %>)</label>
                      <% if e.active_for_authentication? %>
                        <label>Подтвержден</label>
                      <% else %>
                        <label>Не подтвержден</label>
                      <% end %>
                      <br/>
                    <% end %>
                  </div>
                </div>

                <!--<div class="form-group">
                  <label class="control-label col-md-2">Уведомления</label>
                  <div class="col-md-10">
                    <% if @tenant.is_email_rejected %>
                      <label>Отключены</label>
                    <% else %>
                      <label>Включены</label>
                    <% end %>
                  </div>
                </div>-->

                <div class="form-group">
                  <div class="col-md-12">
                    <%= f.check_box :is_email_rejected, label: 'Уведомления отключены' %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <%= f.check_box :is_blocked, label: 'Блокировка' %>
                  </div>
                </div>
              <% else %>
                <div class="form-group">
                  <label class="control-label col-md-2">Email</label>
                  <div class="col-md-4">
                    <input class="form-control" name="email" value="" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">Provider</label>
                  <div class="col-md-4">
                    <input class="form-control" name="provider" value="email" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <%= f.check_box :is_email_rejected, label: 'Уведомления отключены' %>
                  </div>
                </div>
              <% end %>

              <div class="form-group">
                <label class="col-md-12">Персональные данные</label>
                <div class="col-md-10">
                  <ul class="nav nav-tabs">
                    <% I18n.available_locales.each do |l| %>
                      <li class="<%= 'active native' if l == :ru %>">
                        <%= link_to l.to_s, "#tab_#{l.to_s}", data: { toggle: 'tab' } %>
                      </li>
                    <% end %>
                  </ul>


                  <div class="tab-content">
                    <% I18n.available_locales.each do |l| %>
                      <div class="tab-pane fade<%= ' active in' if l == :ru %>" id='<%= "tab_#{l.to_s}" %>'>
                        <% f.globalize_fields_for_locale l do |g| %>
                          <div class="form-group">
                            <%= g.label 'Фамилия', class: 'control-label col-md-2' %>
                            <div class="col-md-10">
                              <%= g.text_field :t_last_name, class: 'form-control', id: "current_last_name_#{l.to_s}" %>
                            </div>
                          </div>
                          <% if @tenant.id.present? && @tenant.unconfirmed_t_last_name.present? %>
                              <div class="form-group">
                                <%= g.label 'Неподтврежденная фамилия', class: 'control-label col-md-2' %>
                                <div class="col-md-10">
                                  <%= g.text_field :unconfirmed_t_last_name, class: 'form-control', id: "unconfirmed_last_name_#{l.to_s}" %>
                                </div>
                              </div>
                          <% end %>
                          <div class="form-group">
                            <%= g.label 'Имя', class: 'control-label col-md-2' %>
                            <div class="col-md-10">
                              <%= g.text_field :t_first_name, class: 'form-control', id: "current_first_name_#{l.to_s}" %>
                            </div>
                          </div>
                          <% if @tenant.id.present? && @tenant.unconfirmed_t_first_name.present? %>
                              <div class="form-group">
                                <%= g.label 'Неподтвержденное имя', class: 'control-label col-md-2' %>
                                <div class="col-md-10">
                                  <%= g.text_field :unconfirmed_t_first_name, class: 'form-control', id: "unconfirmed_first_name_#{l.to_s}" %>
                                </div>
                              </div>
                          <% end %>
                          <div class="form-group">
                            <%= g.label 'Отчество', class: 'control-label col-md-2' %>
                            <div class="col-md-10">
                              <%= g.text_field :t_middle_name, class: 'form-control', id: "current_middle_name_#{l.to_s}" %>
                            </div>
                          </div>
                          <% if @tenant.id.present? && @tenant.unconfirmed_t_middle_name.present? %>
                            <div class="form-group">
                              <%= g.label 'Неподтвержденное отчество', class: 'control-label col-md-2' %>
                              <div class="col-md-10">
                                <%= g.text_field :unconfirmed_t_middle_name, class: 'form-control', id: "unconfirmed_middle_name_#{l.to_s}" %>
                              </div>
                            </div>
                          <% end %>
                          <div class="form-group">
                            <%= g.label 'Пол', class: 'control-label col-md-2' %>
                            <div class="col-md-10">
                              <%= g.text_field :gender, class: 'form-control', id: "current_gender_#{l.to_s}" %>
                            </div>
                          </div>
                          <% if @tenant.id.present? && @tenant.unconfirmed_gender.present? %>
                            <div class="form-group">
                              <%= g.label 'Неподтвржденный пол', class: 'control-label col-md-2' %>
                              <div class="col-md-10">
                                <%= g.text_field :unconfirmed_gender, class: 'form-control', id: "unconfirmed_gender_#{l.to_s}" %>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <hr/>
              <p class="text-right">
                <% if @tenant.id.present? %>
                  <%= link_to 'Добавить аккаунт'.html_safe, new_admin_tenant_account_path + '?tenant=' + @tenant.id.to_s, class: "btn btn-space btn-primary" %>

                  <% if @tenant.unconfirmed_t_first_name.present? || @tenant.unconfirmed_t_last_name.present? || @tenant.unconfirmed_t_middle_name.present? || @tenant.unconfirmed_telephone.present? || @tenant.unconfirmed_gender.present? %>
                    <a id="accept_changes" onclick="accept_changes()" class="btn btn-space btn-primary">Подтвердить</a>
                    <a id="accept_changes" onclick="discard_changes()" class="btn btn-space btn-primary">Отменить</a>
                  <% end %>
                <% end %>
                <button type="submit" class="btn btn-space btn-primary" id="save">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function accept_changes() {
      var current_telephone_input = $('#current_telephone');
      var unconfirmed_telephone_input = $('#unconfirmed_telephone');

      var current_last_name_input_ru = $('#current_last_name_ru');
      var unconfirmed_last_name_input_ru = $('#unconfirmed_last_name_ru');

      var current_last_name_input_en = $('#current_last_name_en');
      var unconfirmed_last_name_input_en = $('#unconfirmed_last_name_en');

      var current_last_name_input_ko = $('#current_last_name_ko');
      var unconfirmed_last_name_input_ko = $('#unconfirmed_last_name_ko');

      var current_first_name_input_ru = $('#current_first_name_ru');
      var unconfirmed_first_name_input_ru = $('#unconfirmed_first_name_ru');

      var current_first_name_input_en = $('#current_first_name_en');
      var unconfirmed_first_name_input_en = $('#unconfirmed_first_name_en');

      var current_first_name_input_ko = $('#current_first_name_ko');
      var unconfirmed_first_name_input_ko = $('#unconfirmed_first_name_ko');

      var current_middle_name_input_ru = $('#current_middle_name_ru');
      var unconfirmed_middle_name_input_ru = $('#unconfirmed_middle_name_ru');

      var current_middle_name_input_en = $('#current_middle_name_en');
      var unconfirmed_middle_name_input_en = $('#unconfirmed_middle_name_en');

      var current_middle_name_input_ko = $('#current_middle_name_ko');
      var unconfirmed_middle_name_input_ko = $('#unconfirmed_middle_name_ko');

      var current_gender_input_ru = $('#current_gender_ru');
      var unconfirmed_gender_input_ru = $('#unconfirmed_gender_ru');

      var current_gender_input_en = $('#current_gender_en');
      var unconfirmed_gender_input_en = $('#unconfirmed_gender_en');

      var current_gender_input_ko = $('#current_gender_ko');
      var unconfirmed_gender_input_ko = $('#unconfirmed_gender_ko');

      if(unconfirmed_telephone_input.length > 0){
        if(unconfirmed_telephone_input.val().length > 0) {
          current_telephone_input.val(unconfirmed_telephone_input.val());
          unconfirmed_telephone_input.val('');
        }
      }
      
      if(unconfirmed_last_name_input_ru.length > 0) {
        if(unconfirmed_last_name_input_ru.val().length > 0) {
          current_last_name_input_ru.val(unconfirmed_last_name_input_ru.val());
          unconfirmed_last_name_input_ru.val('');
        }
      }
        
      if(unconfirmed_last_name_input_en.length > 0) {
        if(unconfirmed_last_name_input_en.val().length > 0) {
          current_last_name_input_en.val(unconfirmed_last_name_input_en.val());
          unconfirmed_last_name_input_en.val('');
        }
      }
      
      if(unconfirmed_last_name_input_ko.length > 0) {
        if(unconfirmed_last_name_input_ko.val().length > 0) {
          current_last_name_input_ko.val(unconfirmed_last_name_input_ko.val());
          unconfirmed_last_name_input_ko.val('');
        }
      }

      if(unconfirmed_first_name_input_ru.length > 0) {
        if(unconfirmed_first_name_input_ru.val().length > 0) {
          current_first_name_input_ru.val(unconfirmed_first_name_input_ru.val());
          unconfirmed_first_name_input_ru.val('');
        }
      }
      
      if(unconfirmed_first_name_input_en.length > 0) {
        if(unconfirmed_first_name_input_en.val().length > 0) {
          current_first_name_input_en.val(unconfirmed_first_name_input_en.val());
          unconfirmed_first_name_input_en.val('');
        }
      }
      
      if(unconfirmed_first_name_input_ko.length > 0) {
        if(unconfirmed_first_name_input_ko.val().length > 0) {
          current_first_name_input_ko.val(unconfirmed_first_name_input_ko.val());
          unconfirmed_first_name_input_ko.val('');
        }
      }

      if(unconfirmed_middle_name_input_ru.length > 0) {
        if(unconfirmed_middle_name_input_ru.val().length > 0) {
          current_middle_name_input_ru.val(unconfirmed_middle_name_input_ru.val());
          unconfirmed_middle_name_input_ru.val('');
        }
      }
        
      if(unconfirmed_middle_name_input_en.length > 0) {
        if(unconfirmed_middle_name_input_en.val().length > 0) {
          current_middle_name_input_en.val(unconfirmed_middle_name_input_en.val());
          unconfirmed_middle_name_input_en.val('');
        }
      }
      
      if(unconfirmed_middle_name_input_ko.length > 0) {
        if(unconfirmed_middle_name_input_ko.val().length > 0) {
          current_middle_name_input_ko.val(unconfirmed_middle_name_input_ko.val());
          unconfirmed_middle_name_input_ko.val('');
        }
      }
      
      if(unconfirmed_gender_input_ru.length > 0) {
        if(unconfirmed_gender_input_ru.val().length > 0) {
          current_gender_input_ru.val(unconfirmed_gender_input_ru.val());
          unconfirmed_gender_input_ru.val('');
        }
      }
      
      if(unconfirmed_gender_input_en.length > 0) {
        if(unconfirmed_gender_input_en.val().length > 0) {
          current_gender_input_en.val(unconfirmed_gender_input_en.val());
          unconfirmed_gender_input_en.val('');
        }
      }
      
      if(unconfirmed_gender_input_ko.length > 0) {
        if(unconfirmed_gender_input_ko.val().length > 0) {
          current_gender_input_ko.val(unconfirmed_gender_input_ko.val());
          unconfirmed_gender_input_ko.val('');
        }
      }

      $('#save').click();
  }

  function discard_changes() {
      $('#unconfirmed_telephone').val('');
      $('#unconfirmed_last_name_ru').val('');
      $('#unconfirmed_last_name_en').val('');
      $('#unconfirmed_last_name_ko').val('');
      $('#unconfirmed_first_name_ru').val('');
      $('#unconfirmed_first_name_en').val('');
      $('#unconfirmed_first_name_ko').val('');
      $('#unconfirmed_middle_name_ru').val('');
      $('#unconfirmed_middle_name_en').val('');
      $('#unconfirmed_middle_name_ko').val('');
      $('#unconfirmed_gender_ru').val('');
      $('#unconfirmed_gender_en').val('');
      $('#unconfirmed_gender_ko').val('');

      $('#save').click();
  }
</script>
