<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Пользователи
            <div class="tools">
              <a id="accept_changes" onclick="merge_tenants()" class="btn btn-space btn-primary">Объединить</a>
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_tenant_path %>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="tenants_table" data-source="<%= admin_datatables_tenants_path(format: :json) %>">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Почта</th>
                <th>Язык</th>
                <th>Зарегистрирован</th>
                <th>Обновлен</th>
                <th>Последняя авторизация</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function merge_tenants() {
      var tenants = document.getElementsByClassName('tenant_checkbox');
      var s = '';
      $.each(tenants, function () {
          if($(this).is(':checked')) {
              s += $(this).val() + ',';
          }
      });
      var url = 'renters_merge_form?ids=' + s;
      window.location.replace(url);
  }
</script>
