<div class="be-content" xmlns="http://www.w3.org/1999/html">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Объединение аккаунтов
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_tenants_path %>
            </div>
          </div>



          <div class="panel-body">
            <%= bootstrap_form_for @tenant, url: {action: 'merge_tenants'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>

              <div class="form-group avatar-wrapper">
                <% @tenants.each do |tenant| %>
                  <% if tenant.avatar? %>
                    <label class="control-label col-md-2">Аватар</label>
                    <div class="col-md-3">
                      <% image_link = tenant.avatar_url %>
                      <%= image_tag(image_link, class: 'preview-image-container') %>
                      <br />
                      <%= check_box_tag 'avatar_' + tenant.id.to_s, tenant.id, false,
                                        onclick: "select_avatar('#{ Rails.application.secrets.full_host.to_s + image_link}', #{'avatar_' + tenant.id.to_s});",
                                        class: 'avatar_checkbox' %>
                      <b>Выбрать это изображение</b>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <%= f.text_field :avatar, class: 'form-control', id: "selected_avatar", readonly: true, label: 'Выбранный аватар' %>

              <div class="form-group">
                <div class="col-md-12">

                  <%= hidden_field_tag(:ids, @ids_str) %>
                  <%= f.collection_select :telephone, @tenants, :telephone, :telephone, class: 'form-control', label: 'Телефон' %>
                  <%= f.collection_select :locale, @tenants, :locale, :locale, class: 'form-control', label: 'Язык' %>

                  <div class="col-md-10">
                    <ul class="nav nav-tabs">
                      <% I18n.available_locales.each do |l| %>
                        <li class="<%= 'active native' if l == :ru %>">
                          <%= link_to l.to_s, "#tab_#{l.to_s}", data: { toggle: 'tab' } %>
                        </li>
                      <% end %>
                    </ul>


                    <div class="tab-content">
                      <% I18n.available_locales.each do |l| %>
                        <div class="tab-pane fade<%= ' active in' if l == :ru %>" id='<%= "tab_#{l.to_s}" %>'>
                          <% f.globalize_fields_for_locale l do |g| %>
                            <div class="form-group">
                              Фамилия
                              <%= g.collection_select :t_last_name, @tenants, "t_last_name_#{l.to_s}", "t_last_name_#{l.to_s}", class: 'form-control', label: 'Фамилия' %>
                              <br />
                              <br />
                              Имя
                              <%= g.collection_select :t_first_name, @tenants, "t_first_name_#{l.to_s}", "t_first_name_#{l.to_s}", class: 'form-control', label: 'Имя' %>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  function select_avatar(image_path, checkbox) {
      //alert(image_path);
      var selected_avatar_filed = $("#selected_avatar");
      selected_avatar_filed.val(image_path);

      var avatars = document.getElementsByClassName('avatar_checkbox');
      $.each(avatars, function () {
          $(this).attr('checked', false);
          /*if(this.id === checkbox_id) {
              $(this).attr('checked', true);
          } else {
              $(this).attr('checked', false);
          }*/
      });

      checkbox.checked = true;
  }
</script>