<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @sampler.id ? 'Редактирование модели автомобилей' : 'Создание новой модели автомобилей' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_samplers_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @sampler, url: {action: @sampler.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>


              <%= f.collection_select :mark_id, Mark.all, :id, :name, class: 'form-control', include_blank: true, label: 'Марка автомобиля' %>
              <%= f.text_field :name, label: 'Модель автомобиля' %>

              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
