<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @car.id ? 'Редактирование автомобиля' : 'Создание нового автомобиля' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_cars_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @car, url: {action: @car.id ? 'update' : 'create'},
                                   html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
                                    
              <!--<div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Фотография</label>
                <div class="col-md-10">
                  <% image_link = @car.image? ? @car.image_url : asset_path('admin/200_hold.png') %>
                  <%= image_tag(image_link, class: 'preview-image-container') %>
                  <%= f.file_field :image, label: 'Фотография' %>
                  <% if @car.image? %>
                    <label>
                      <%= f.check_box :remove_image, label: 'Удалить изображение' %>
                    </label>
                  <% end %>
                </div>
              </div>-->

              <div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Изображения автомобиля</label>
                <div class="col-md-10">
                  <% @car.images.each do |image| %>
                    <% image_link = image[:original] %>
                    <%= image_tag(image_link, class: 'preview-image-container', style: "width: 200px; height:auto;") %>
                  <% end %>
                </div>
              </div>

              <!--<div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Изображения КАСКО</label>
                <div class="col-md-10">
                  <% @car.insurance_images.each do |insurance_image| %>
                    <% image_link = insurance_image %>
                    <%= image_tag(image_link, class: 'preview-image-container', style: "width: 200px; height:auto;") %>
                  <% end %>
                  <%= f.file_field :insurance_images, multiple: true %>
                </div>
              </div>-->

              <% if @car.get_insurances.present? %>
                <% @car.get_insurances.each do |insurance| %>
                  <div class="form-group avatar-wrapper">
                    <label class="control-label col-md-2">КАСКО <%= insurance[:name] %></label>
                    <div class="col-md-10">
                      <% if insurance[:images].present? %>
                        <% insurance[:images].each do |insurance_image| %>
                          <% image_link = insurance_image[:original] %>
                          <%= image_tag(image_link, class: 'preview-image-container', style: "width: 200px; height:auto;") %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>

              <!--<div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Изображения договора</label>
                <div class="col-md-10">
                  <% @car.contract_images.each do |contract_image| %>
                    <% image_link = contract_image %>
                    <%= image_tag(image_link, class: 'preview-image-container', style: "width: 200px; height:auto;") %>
                  <% end %>
                  <%= f.file_field :contract_images, multiple: true %>
                </div>
              </div>-->

              <div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Изображения договора</label>
                <div class="col-md-10">
                  <% @car.contracts.each do |contract_image| %>
                    <% image_link = contract_image[:original] %>
                    <%= image_tag(image_link, class: 'preview-image-container', style: "width: 200px; height:auto;") %>
                  <% end %>
                </div>
              </div>

              <%= f.collection_select :mark_name, Mark.all, :name, :name, class: 'form-control', include_blank: true, label: 'Марка автомобиля' %>
              <%= f.collection_select :sampler_name, Sampler.all, :name, :name, class: 'form-control', include_blank: true, label: 'Модель автомобиля' %>
              <%= f.number_field :production_year, label: 'Год выпуска' %>
              <%= f.collection_select :city_id, City.all, :id, :name, class: 'form-control', include_blank: true, label: 'Город' %>

              <div class="form-group address">
                <%= f.label 'Цена за сутки', class: 'control-label col-md-2 required' %>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <%= f.text_field :price_rub, label: 'RUB', layout: :default, prepend: "₽" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_usd, label: 'USD', layout: :default, prepend: "$" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_krw, label: 'KRW', layout: :default, prepend: "₩" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_eur, label: 'EUR', layout: :default, prepend: "€" %>
                    </div>
                  </div>
                </div>

                <%= f.label 'Цена за 2-6 дней', class: 'control-label col-md-2 required' %>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <%= f.text_field :price_few_days_rub, label: 'RUB', layout: :default, prepend: "₽" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_few_days_usd, label: 'USD', layout: :default, prepend: "$" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_few_days_krw, label: 'KRW', layout: :default, prepend: "₩" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_few_days_eur, label: 'EUR', layout: :default, prepend: "€" %>
                    </div>
                  </div>
                </div>

                <%= f.label 'Цена за неделю', class: 'control-label col-md-2 required' %>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <%= f.text_field :price_week_rub, label: 'RUB', layout: :default, prepend: "₽" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_week_usd, label: 'USD', layout: :default, prepend: "$" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_week_krw, label: 'KRW', layout: :default, prepend: "₩" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_week_eur, label: 'EUR', layout: :default, prepend: "€" %>
                    </div>
                  </div>
                </div>

                <%= f.label 'Цена за месяц', class: 'control-label col-md-2 required' %>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <%= f.text_field :price_month_rub, label: 'RUB', layout: :default, prepend: "₽" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_month_usd, label: 'USD', layout: :default, prepend: "$" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_month_krw, label: 'KRW', layout: :default, prepend: "₩" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :price_month_eur, label: 'EUR', layout: :default, prepend: "€" %>
                    </div>
                  </div>
                </div>

                <%= f.label 'Депозит', class: 'control-label col-md-2 required' %>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <%= f.text_field :deposit_rub, label: 'RUB', layout: :default, prepend: "₽" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :deposit_usd, label: 'USD', layout: :default, prepend: "$" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :deposit_krw, label: 'KRW', layout: :default, prepend: "₩" %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :deposit_eur, label: 'EUR', layout: :default, prepend: "€" %>
                    </div>
                  </div>
                </div>

              </div>

              <div class="form-group address">
                <%= f.label 'Адрес', class: 'control-label col-md-2 required' %>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.text_field :address, label: 'Основной', class: 'placecomplete', layout: :default %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :latitude, label: 'Широта', layout: :default %>
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :longitude, label: 'Долгота', layout: :default %>
                    </div>
                  </div>
                </div>
              </div>

              <%= f.collection_select :body_id, Body.all, :id, :name, class: 'form-control', label: 'Тип кузова' %>
              <%= f.collection_select :engine_id, Engine.all, :id, :name, class: 'form-control', label: 'Двигатель' %>
              <%= f.collection_select :transmission_id, Transmission.all, :id, :name, class: 'form-control', label: 'Коробка передач' %>
              <%= f.collection_select :color_id, Color.all, :id, :name, class: 'form-control', include_blank: true, label: 'Цвет' %>
              <%= f.collection_select :tenant_id, Tenant.all, :id, :name_with_email, class: 'form-control', include_blank: true, label: 'Владелец' %>
              
              <%= f.text_area :comments, cols: 20, rows: 10, label: 'Комментарии' %>

              <div class="form-group">
                <%= f.label 'Параметры', class: 'control-label col-md-2 required' %>
                <div class="col-md-10">
                  <%= f.check_box :is_current_offer, label: 'Актуальное предложение' %>
                  <%= f.check_box :is_delivery_to_airport, label: 'Доставка в аэропорт' %>
                  <%= f.check_box :is_delivery_to_you, label: 'Доставка прямо к вам' %>
                  <%= f.check_box :is_baby_chair, label: 'Детское кресло' %>
                  <%= f.check_box :is_wifi, label: 'Wi-fi в автомобиле' %>
                  <%= f.check_box :is_navigator, label: 'Навигатор' %>
                </div>
              </div>

              <h3>Техническая информация</h3>

              <%= f.text_field :link_to_car, label: 'Ссылка на автомобиль' %>
              <%= f.text_field :dynamic_link, label: 'Динамическая ссылка firebase' %>
              <%= f.check_box :is_moderated, label: 'Модерация пройдена' %>
              <%= f.check_box :is_notifications_enabled, label: 'Уведомления' %>

              <% unless @car.is_moderated %>
                <%= hidden_field_tag(:need_notify, true) %>
              <% else %>

              <% end %>

              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
