<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Автомобили
            <br />
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_car_path %> 
            </div>
          </div>
          <div class="panel-body" style="overflow: auto;">
            <table class="table" id="cars_table" data-source="<%= admin_datatables_cars_path(format: :json) %>">
              <!--style="transform: scale(0.75, 0.75);"-->
              <thead>
              <tr>
                <th>ID</th>
                <th>Автомобиль</th>
                <th>Модерация</th>
                <th>Цена (₽)</th>
                <th>Цена ($)</th>
                <th>Цена (₩)</th>
                <th>Цена (€)</th>
                <th>Детское кресло</th>
                <th>Владелец</th>
                <th>Обновлено</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
