<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Коробки передач
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_transmission_path %>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="transmissions_table">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Название (ru)</th>
                <th>Название (en)</th>
                <th>Название (ko)</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody>
              <% @transmissions.each do |transmission| %>
                <% transmission = Admin::TransmissionDecorator.new(transmission) %>
                <tr>
                  <td><%= transmission.id %></td>
                  <td><%= transmission.name_ru %></td>
                  <td><%= transmission.name_en %></td>
                  <td><%= transmission.name_ko %></td>
                  <td><%= transmission.edit_link_icon %><%= transmission.destroy_link_icon %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
