<%= render "tenants/personal" %>

<main id="panel">
  <header>

    <button id="menu-toggle">
    </button>

    <div class="container">
      <div class="row top-line">
        <div class="logo-small">
          <img src="<%= asset_path 'pages/logo.png' %>"/>
          <div class="logo-small__text">
            <a href="/" style="color:#fff">darenta.com</a>
          </div>
        </div>
        <div class="logo">
          <img src="assets/img/logo.png">
        </div>
        <div class="logo-sign">
          Personal transport in your smartphone<br>
          <span class="logo-sign__sub">Cars around you, ready to go. Book for a few hours or a few days!</span>
        </div>
        <div class="social">
          <% unless tenant_account_signed_in? %>
            <div class="social__text">Log In</div>
            <%=  link_to "", tenant_account_facebook_omniauth_authorize_path, :class => "social__item fb"  %>
            <!--<%=  link_to "Log In", new_tenant_account_session_path, :class => "social__item", method: :post %>-->
            <%=  link_to "", tenant_account_google_omniauth_authorize_path, :class => "social__item ggl"  %>
          <% end %>
        </div>
      </div>
      <div class="service-info">
        <div class="service-info__text">
          Darenta - online service that<br/>
          helps individuals to share insured cars<br/>
          with tourists and other renters
        </div>
        <div class="service-info__sign">
          The service is available on iOS / Android mobile devices
        </div>
      </div>
      <div class="stores">
        <a href="#" class="stores__item play-market"></a>
        <a href="#" class="stores__item app-store"></a>
      </div>
    </div>

  </header>

  <center><h1>Password successfully reset</h1>
  <a href="/" alt="darenta.com">Back to Darenta</a>
  </center>
</main>

<%= javascript_include_tag "pages/main.js", "data-turbolinks-track" => true %>