<%= render "tenants/personal" %>

<main id="panel">
  <header>

    <button id="menu-toggle">
    </button>

    <div class="container">
      <div class="row top-line">
        <div class="logo-small">
          <img src="<%= asset_path 'pages/logo.png' %>"/>
          <div class="logo-small__text">
            <a href="/" style="color:#fff">darenta.com</a>
          </div>
        </div>
        <div class="logo">
          <img src="assets/img/logo.png">
        </div>
        <div class="logo-sign">
          Personal transport in your smartphone<br>
          <span class="logo-sign__sub">Cars around you, ready to go. Book for a few hours or a few days!</span>
        </div>
        <div class="social">
          <% unless tenant_account_signed_in? %>
            <div class="social__text">Log In</div>
            <%=  link_to "", tenant_account_facebook_omniauth_authorize_path, :class => "social__item fb"  %>
            <!--<%=  link_to "Log In", new_tenant_account_session_path, :class => "social__item", method: :post %>-->
            <%=  link_to "", tenant_account_google_omniauth_authorize_path, :class => "social__item ggl"  %>
          <% end %>
        </div>
      </div>
      <div class="service-info">
        <div class="service-info__text">
          Darenta - online service that<br/>
          helps individuals to share insured cars<br/>
          with tourists and other renters
        </div>
        <div class="service-info__sign">
          The service is available on iOS / Android mobile devices
        </div>
      </div>
      <div class="stores">
        <a href="#" class="stores__item play-market"></a>
        <a href="#" class="stores__item app-store"></a>
      </div>
    </div>

  </header>
  <section class="content">
    <div class="container">
      <div>
        <h1 style="text-transform: uppercase; font-weight: bold;">Reset password</h1>
        <%= form_tag controller: 'tenant_accounts', action: 'password_reset', method: 'get', class: '', remote: true do %>
          <%= hidden_field_tag(:token, @secret_hash, id: 'secret_hash') %>
          <%= label_tag(:password_label, 'Enter new password, please') %><br />
          <%= password_field_tag(:new_password, '', style: "width:50%", oninput: 'compare_passwords()') %>
          <br />
          <%= label_tag(:password_confirmation_label, 'Re-enter new password, please') %><br />
          <%= password_field_tag(:new_password_confirmation, '', style: "width:50%", oninput: 'compare_passwords()') %>
          <br />
          <label style="color: #ff0000; display: none;" id="short_password_error">Password must be at least 6 character</label>
          <label style="color: #ff0000; display: none;" id="different_password_error">Passwords do not match</label>
          <br />
          <div id="reset_password_actions", style="display: none">
            <%= submit_tag('Reset my password', class: "btn btn-order", id: 'reset_password_button', style: '') %>
            <a href="/" alt="darenta.com" class="btn btn-order" id="cancel_button" style="background-color: #fff; color: #333; border: 1px solid #dfdfdf;">Cancel</a>
          </div>

        <% end %>
      </div>
    </div>
  </section>

</main>

<script>
  function compare_passwords() {
      var new_password_value = $("#new_password").val();
      var new_password_confirmation_value = $("#new_password_confirmation").val();

      if (new_password_value.length < 6) {
          $("#short_password_error").show();
          $("#different_password_error").hide();
          $("#reset_password_actions").hide();
      } else if (new_password_value !== new_password_confirmation_value) {
          $("#different_password_error").show();
          $("#short_password_error").hide();
          $("#reset_password_actions").hide();
      } else {
          $("#reset_password_actions").show();
          $("#different_password_error").hide();
          $("#short_password_error").hide();
      }
  }
</script>


<%= javascript_include_tag "pages/main.js", "data-turbolinks-track" => true %>