<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Типы скидок
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_discount_type_path %>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="discount_types_table" data-source="<%= admin_datatables_discount_types_path(format: :json) %>">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Значение</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
