<div class="be-content" xmlns="http://www.w3.org/1999/html">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @order.id ? 'Просмотр заказа' : 'Создание нового заказа' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_orders_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @order, url: {action: @order.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
              <h3>Сведения о заказе</h3>
              <div class="col-md-12">
                <label>id заказа: <%= @order.id %></label>
              </div>
              <div class="col-md-12">
                <label>Цена: <%= @order.price_value %> <%= @order.price_currency %></label>
              </div>
              <div class="col-md-12">
                <label>Дата создания заказа: <%= @order.created_at %></label>
              </div>
              <div class="col-md-12">
                <label>Дата оплаты заказа: <%= @order.paid_at %></label>
              </div>
              <div class="col-md-12">
                <label>Источник: <%= @order.source %></label>
              </div>
              <div class="col-md-12">
                <label>Заказ подтвержден:</label>
                <% if @order.is_accepted %>
                  <label>Да</label>
                <% else %>
                  <label>Нет</label>
                <% end %>
              </div>
              <div class="col-md-12">
                <label>Заказ отменен:</label>
                <% if @order.is_declined %>
                  <label>Да</label>
                <% else %>
                  <label>Нет</label>
                <% end %>
              </div>
              
              <div class="col-md-12">
                <label>Скидка: <%= @order.discount_value %></label>
              </div>

              <div class="col-md-12">
                <label>Тип скидки: <%= @order.discount_type %></label>
              </div>

              <div class="col-md-12">
                <label>Аренда с: <%= @order.rent_from %></label>
              </div>
              <div class="col-md-12">
                <label>Аренда по: <%= @order.rent_til %></label>
              </div>
              <div class="col-md-12">
                <label>Где забрать: <%= @order.where_to_pickup %></label>
              </div>
              <div class="col-md-12">
                <label>Где оставить: <%= @order.where_to_leave %></label>
              </div>

              <h3>Сведения об арендаторе</h3>
              <div class="col-md-12">
                <label>Имя Фамилия: <%= @order.tenant_full_name %></label>
              </div>
              <div class="col-md-12">
                <label>Аккаунты арендатора: <%= @order.tenant_accounts %></label>
              </div>
              <div class="col-md-12">
                <label>Телефон: <%= @order.tenant_phone %></label>
              </div>

              <h3>Сведения об автомобиле</h3>
              <div class="col-md-12">
                <label>Марка и модель: <%= @order.car_name %></label>
              </div>
              <div class="col-md-12">
                <label>Цена за сутки: <%= @order.car_price %> рублей</label>
              </div>

              <% if @owner.present? %>
              <h3>Сведения о владельце автомобиля</h3>
              <div class="col-md-12">
                <label>id: <%= @owner.id %></label>
              </div>
              <div class="col-md-12">
                <label>ФИО: <%= @owner.full_name %></label>
              </div>
              <div class="col-md-12">
                <label>Почта: <%= @owner.email %></label>
              </div>
              <% end %>


              <hr/>
              <p class="text-right">
                <!--<button type="submit" class="btn btn-space btn-primary">Ok</button>-->
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
