<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Заказы
            <div class="tools">
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="orders_table" data-source="<%= admin_datatables_orders_path(format: :json) %>">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Арендатор</th>
                <th>Автомобиль</th>
                <th>Сумма</th>
                <th>Валюта</th>
                <th>Источник</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
