<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Типы двигателей
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_engine_path %>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="engines_table">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Название (ru)</th>
                <th>Название (en)</th>
                <th>Название (ko)</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody>
              <% @engines.each do |engine| %>
                <% engine = Admin::EngineDecorator.new(engine) %>
                <tr>
                  <td><%= engine.id %></td>
                  <td><%= engine.name_ru %></td>
                  <td><%= engine.name_en %></td>
                  <td><%= engine.name_ko %></td>
                  <td><%= engine.edit_link_icon %><%= engine.destroy_link_icon %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
