<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @office.id ? 'Редактирование офиса' : 'Создание нового офиса' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_partner_offices_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @office, url: {action: @office.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>

              <%= f.text_field :location_id, label: 'Location ID' %>
              <%= f.text_field :telephone_number, label: ' Telephone number' %>
              <%= f.text_field :opening_from, label: 'Opening from' %>
              <%= f.text_field :opening_to, label: 'Opening to' %>
              <%= f.text_field :gps_coordinates, label: 'GPS coordinates' %>
              <%= f.text_field :latitude, label: 'Latitude' %>
              <%= f.text_field :longitude, label: 'Longitude' %>

              <ul class="nav nav-tabs">
                <% I18n.available_locales.each do |l| %>
                  <li class="<%= 'active native' if l == :ru %>">
                    <%= link_to l.to_s, "#tab_#{l.to_s}", data: { toggle: 'tab' } %>
                  </li>
                <% end %>
              </ul>

              <div class="tab-content">
                <% I18n.available_locales.each do |l| %>
                  <div class="tab-pane fade<%= ' active in' if l == :ru %>" id='<%= "tab_#{l.to_s}" %>'>
                    <% f.globalize_fields_for_locale l do |g| %>

                      <div class="form-group">
                        <%= g.label 'Name', class: 'control-label col-md-2' %>
                        <div class="col-md-10">
                          <%= g.text_field :name, class: 'form-control' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <%= g.label 'Address', class: 'control-label col-md-2' %>
                        <div class="col-md-10">
                          <%= g.text_field :address, class: 'form-control' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <%= g.label 'Supplier Direction To Desk', class: 'control-label col-md-2' %>
                        <div class="col-md-10">
                          <%= g.text_field :supplier_direction_to_desk, class: 'form-control' %>
                        </div>
                      </div>
                      
                    <% end %>
                  </div>
                <% end %>
              </div>

              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
