<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Типы кузовов
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_body_path %>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="bodies_table">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Название (ru)</th>
                <th>Название (en)</th>
                <th>Название (ko)</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody>
              <% @bodies.each do |body| %>
                <% body = Admin::BodyDecorator.new(body) %>
                <tr>
                  <td><%= body.id %></td>
                  <td><%= body.name_ru %></td>
                  <td><%= body.name_en %></td>
                  <td><%= body.name_ko %></td>
                  <td><%= body.edit_link_icon %><%= body.destroy_link_icon %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
