<!-- вступление -->
<% if @message.pull_body_block(@l, 0).present? %>
  <%= @message.pull_body_block(@l, 0).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1).html_safe %>
<% end %>

<!-- дата + время отправки -->
<% if @message.pull_body_block(@l, 2).present? %>
  <%=@send_at %><%= @message.pull_body_block(@l, 2).html_safe %>
<% end %>

<!-- заключительная часть -->
<% if @message.pull_body_block(@l, 3).present? %>
  <%= @message.pull_body_block(@l, 3).html_safe %>
<% end %>

<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>
