<!-- вступление -->
<% if @message.pull_body_block(@l, 0).present? %>
  <%= @message.pull_body_block(@l, 0).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1, @tenant.reject_link).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1, @tenant.reject_link).html_safe %>
<% end %>

<!-- дата + время регистрации -->
<% if @message.pull_body_block(@l, 2).present? %>
  <%= @tenant.created_at.strftime('%d.%m.%Y %I:%M%p') %><%= @message.pull_body_block(@l, 2).html_safe %>
<% end %>

<!-- ФИО пользователя -->
<% if @message.pull_body_block(@l, 3).present? %>
  <%= @tenant.full_name %><%= @message.pull_body_block(@l, 3).html_safe %>
<% end %>

<!-- Устройство -->
<% if @message.pull_body_block(@l, 4).present? %>
  <%= @device %><%= @message.pull_body_block(@l, 4).html_safe %>
<% end %>

<!-- почта арендатора -->
<% if @message.pull_body_block(@l, 5).present? %>
  <%= @tenant.emails_string %><%= @message.pull_body_block(@l, 5).html_safe %>
<% end %>

<!-- телефон арендатора -->
<% if @message.pull_body_block(@l, 6).present? %>
  <%= @landlord.telephone %><%= @message.pull_body_block(@l, 6).html_safe %>
<% end %>

<!-- заключительная часть -->
<% if @message.pull_body_block(@l, 7).present? %>
  <%= @message.pull_body_block(@l, 7).html_safe %>
<% end %>

<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>
