<!-- вступление -->
<% if @message.pull_body_block(@l, 0).present? %>
  <%= @message.pull_body_block(@l, 0).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1).html_safe %>
<% end %>

<!-- дата + время подтверждения -->
<% if @message.pull_body_block(@l, 2).present? %>
  <%= @tenant_account.confirmed_at.strftime('%d.%m.%Y %I:%M%p') %><%= @message.pull_body_block(@l, 2).html_safe %>
<% end %>

<!-- почта арендатора -->
<% if @message.pull_body_block(@l, 3).present? %>
  <%= @tenant_account.email %><%= @message.pull_body_block(@l, 3).html_safe %>
<% end %>

<!-- заключительная часть -->
<% if @message.pull_body_block(@l, 4).present? %>
  <%= @message.pull_body_block(@l, 4).html_safe %>
<% end %>

<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>
