<!-- вступление -->
<% if @message.pull_body_block(@l, 0).present? %>
  <%= @message.pull_body_block(@l, 0).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1).html_safe %>
<% end %>

<!-- дата + время подачи -->
<% if @message.pull_body_block(@l, 2).present? %>
  <%= @moderation_request_at %><%= @message.pull_body_block(@l, 2).html_safe %>
<% end %>

<!-- ссылка на автомобиль -->
<% if @message.pull_body_block(@l, 3).present? %>
  <%= link_to @link_to_car, @link_to_car %><%= @message.pull_body_block(@l, 3).html_safe %>
<% end %>

<!-- заключительная часть -->
<% if @message.pull_body_block(@l, 4).present? %>
  <%= @message.pull_body_block(@l, 4).html_safe %>
<% end %>

<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>
