* {
  outline: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.inline {
    display: inline-block;
}

.wh100 {
  width: 100%;
}

.show {
  display: block;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.p0 {
  padding: 0;
}

.tree-padding {
  padding: 0 20px 5px!important;
}

.manage-icon {
  a {
    span {
      i {
        &:first-child {
          &:before {
            color: #4285f4;
          }
        }
        &:last-child {
          color: #FFFFFF;
        }
      }
    }
  }
}

.slim-site-tumbler {
  min-width: 250px;
  max-height: 42px;
  .form-group {
    margin: 0;
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 3;
    }
    .select2-selection {
      max-height: 42px;
    }
  }
}

.flash-header {
  .main-content {
    padding: 15px 25px 0;
    .alert {
      margin: 0;
    }
  }
}

.bootstrap-tagsinput {
  width: 100%;
  input {
    width: 100%!important;
    padding: 10px 12px;
  }
}

.sortable_tree {
  .image-not-present {
    cursor: default;
  }
  h4 {
    color: #333;
    font-size: 14px;
    margin-left: 0;
    font-weight: normal;
    text-decoration: none;
    line-height: 150%;
    display: block;
    &.leaf {
      margin-left: 25px;
    }
  }
  .expand {
    outline: none;
    user-select: none;
  }
  .controls {
    top: 5px;
  }
  .ext-panel {
    position: absolute;
    top: 5px;
    right: 65px;
    a {
      display: inline-block;
      margin: 0 0 0 3px;
      img {
        max-width: 20px;
      }
    }
    div {
      display: inline-block;
    }
    .template-name {
      width: 136px;
      text-align: center;
      font-size: 13px;
      margin: 0 5px 0 0;
      background: gainsboro;
      padding: 3px 5px;
      border-radius: 5px;
    }
  }
}

.edit-page {
  .hold-image {
    img {
      max-width: 200px;
    }
  }
  .select2.select2-container {
    min-width: 100%;
  }
}

#cke_page_content {
  #cke_2_contents {
    min-height: 400px;
  }
}

#pages_table {
  min-width: 100%;
}

.upload-images {
  text-align: center;
  h3 {
    text-align: center;
    margin: 30px 0 10px 0;
  }
  .image {
    display: inline-block;
    position: relative;
    margin: 5px;
    max-width: 200px;
    img {
      max-width: 200px;
      max-height: 200px;
    }
    .destroy-link {
      position: absolute;
      bottom: 35px;
      left: 0;
      text-align: center;
      height: 30px;
      width: 100%;
      padding: 5px;
      background: red;
      color: #fff;
      opacity: 0.6;
      transition: all .3s;
      &:hover {
        opacity: 1;
      }
    }
    .update-link {
      input {
        width: 180px;
      }
      a {
        font-size: 25px;
        position: relative;
        top: 5px;
      }
    }
  }
  .fa {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: green;
  }
}

form {
  .nav-tabs li a {
    text-transform: uppercase;
  }
}

.left-sidebar-content {
  i.icon {
    position: relative;
    top: -3px;
  }
}

.avatar-wrapper {
  .form-group {
    .control-label {
      display: none;
    }
  }
  .checkbox {
    padding: 0;
    input[type="checkbox"] {
      margin-top: 3px;
    }
  }
  .preview-image-container {
    width: 120px;
    max-width: 120px;
    height: auto;
  }
}

.form-group.address {
  .form-group {
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
    width: 100%;
    label {
      padding: 0;
    }
  }
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
