.modules {
  .panel-body {
    padding: 10px;
  }
  .group-checkbox {
    float: right;
    input[type="checkbox"] {
      margin: 0 3px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  .list-group-item {
    padding: 5px;
  }
  #checkboxValues {
    max-height: 627px;
    overflow: scroll;
  }
}

.connectedSortable {
  background: #f3f3f3;
  min-height: 100px;
  max-height: 500px;
  overflow: scroll;
  .item-dng {
    cursor: move;
  }
}
