<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Города
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_city_path %>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="cities_table">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Название (ru)</th>
                <th>Название (en)</th>
                <th>Название (ko)</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody>
              <% @cities.each do |city| %>
                <% city = Admin::CityDecorator.new(city) %>
                <tr>
                  <td><%= city.id %></td>
                  <td><%= city.name_ru %></td>
                  <td><%= city.name_en %></td>
                  <td><%= city.name_ko %></td>
                  <td><%= city.edit_link_icon %><%= city.destroy_link_icon %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
