<div class="be-content" xmlns="http://www.w3.org/1999/html">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @discount.id ? 'Редактирование скидки' : 'Создание новой скидки' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_discounts_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @discount, url: {action: @discount.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>

              <div class="form-group">
                <label class="col-md-12">Данные о скидке</label>
                <div class="col-md-10">
                  <ul class="nav nav-tabs">
                  </ul>

                  <div class="tab-content">
                    <div class="form-group">
                      <label class="control-label col-md-2">Тип</label>
                      <div class="col-md-10">
                        <input class="form-control" name="discount[type_id]" value="<%= @discount.type_id %>" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-2">Значение</label>
                      <div class="col-md-10">
                        <input class="form-control" name="discount[value]" value="<%= @discount.value %>" />
                      </div>
                    </div>

                  </div>

                </div>
              </div>

              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
