<% if @message.pull_body_block(@l, 0).present? %>
  <%= @message.pull_body_block(@l, 0).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1).html_safe %>
<% end %>

<% if @message.pull_body_block(@l, 2).present? %>
  <br />
  <br />
  <%= link_to 'Reset password', @reset_password_link, style: 'text-decoration: none; background: #00ad28;padding: 8px;text-align: center;border-radius: 5px;color: white;font-weight: bold;' %><%= @message.pull_body_block(@l, 2).html_safe %>
  <br />
  <br />
<% end %>

<br />
<br />
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>