<!-- вступление -->
<% if @message.pull_body_block(@l, 0, @tenant.reject_link).present? %>
  <%= @message.pull_body_block(@l, 0, @tenant.reject_link).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1, @tenant.reject_link).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1, @tenant.reject_link).html_safe %>
<% end %>

<!-- имя владельца автомобиля -->
<% if @message.pull_body_block(@l, 2, @tenant.reject_link).present? %>
  <%= @tenant.t_first_name %><%= @message.pull_body_block(@l, 2, @tenant.reject_link).html_safe %>
<% end %>

<!-- марка -->
<% if @message.pull_body_block(@l, 3, @tenant.reject_link).present? %>
  <%= @car.mark_name %><%= @message.pull_body_block(@l, 3, @tenant.reject_link).html_safe %>
<% end %>

<!-- модель -->
<% if @message.pull_body_block(@l, 4, @tenant.reject_link).present? %>
  <%= @car.sampler_name %><%= @message.pull_body_block(@l, 4, @tenant.reject_link).html_safe %>
<% end %>

<!-- город -->
<% if @message.pull_body_block(@l, 5, @tenant.reject_link).present? %>
  <%= @car.city.name %><%= @message.pull_body_block(@l, 5, @tenant.reject_link).html_safe %>
<% end %>

<!-- залог -->
<% if @message.pull_body_block(@l, 6, @tenant.reject_link).present? %>
  <%= @car.deposit_rub %> rub / <%= @car.deposit_usd %> usd / <%= @car.deposit_krw %> krw / <%= @car.deposit_eur %> eur
  <%= @message.pull_body_block(@l, 6, @tenant.reject_link).html_safe %>
<% end %>

<!-- стоимость аренды за сутки -->
<% if @message.pull_body_block(@l, 7, @tenant.reject_link).present? %>
  <%= @car.price_rub %> rub / <%= @car.price_usd %> usd / <%= @car.price_krw %> krw / <%= @car.price_eur %> eur
  <%= @message.pull_body_block(@l, 7, @tenant.reject_link).html_safe %>
<% end %>

<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>