<% if @message.pull_body_block(@l, 0, @tenant.reject_link).present? %>
  <%= @message.pull_body_block(@l, 0, @tenant.reject_link).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1, @tenant.reject_link).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1, @tenant.reject_link).html_safe %>
<% end %>

<% if @message.pull_body_block(@l, 2, @tenant.reject_link).present? %>
  <%= @tenant %><%= @message.pull_body_block(@l, 2, @tenant.reject_link).html_safe %>
<% end %>


<br />
<br />
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>