<% if @message.pull_body_block(@form[:locale], 0).present? %>
  <%= @message.pull_body_block(@form[:locale], 0).html_safe %>

  <!-- приложение или сайт -->
  <% if @message.pull_body_block(@l, 1).present? %>
    <%= @source %><%= @message.pull_body_block(@l, 1).html_safe %>
    <% if @message.pull_body_block(@form[:locale], 2).present? %>
      <%= @form[:name] %><%= @message.pull_body_block(@form[:locale], 2).html_safe %>
      <% if @message.pull_body_block(@form[:locale], 3).present? %>
        <%= @form[:email] %><%= @message.pull_body_block(@form[:locale], 3).html_safe %>
        <% if @message.pull_body_block(@form[:locale], 4).present? %>
          <%= @device_type.present? ? @device_type.name : 'Неизвестно' %><%= @message.pull_body_block(@form[:locale], 4).html_safe %>
          <% if @message.pull_body_block(@form[:locale], 5).present? %>
            <%= @form[:text] %><%= @message.pull_body_block(@form[:locale], 5).html_safe %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br />
<% if @message.pull_footer_block(@form[:locale], 0).present? %>
  <%= @message.pull_footer_block(@form[:locale], 0) %>
<% end %>

