<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group row login-tools">
      <div class="col-xs-6 login-remember">
        <div class="be-checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Запомнить меня' %>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="form-group login-submit">
    <%= f.submit 'Войти', class: 'btn btn-primary btn-xl' %>
  </div>
<% end %>
