<% currency_code = ::CommonMailerUtils.resolve_price_currency_by_locale(@l) %>
<% currency_name = ::Currency.find_by(code: currency_code).name_by_locale(@l) %>

<!-- вступление -->
<% if @message.pull_body_block(@l, 0).present? %>
  <%= @message.pull_body_block(@l, 0).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1, @tenant.reject_link).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1, @tenant.reject_link).html_safe %>
<% end %>

<!-- почта и телефон арендатора -->
<% if @message.pull_body_block(@l, 2).present? %>
  <%= @tenant.contacts(@l) %><%= @message.pull_body_block(@l, 2).html_safe %>
<% end %>

<!-- ссылка на профиль автовладельца -->
<% if @message.pull_body_block(@l, 3).present? %>
  <%= link_to @landlord_profile_link, @landlord_profile_link %><%= @message.pull_body_block(@l, 3).html_safe %>
<% end %>

<!-- ссылка на автомобиль -->
<% if @message.pull_body_block(@l, 4).present? %>
  <%= link_to @car.dynamic_link, @car.dynamic_link %><%= @message.pull_body_block(@l, 4).html_safe %>
<% end %>

<!-- марка -->
<% if @message.pull_body_block(@l, 5).present? %>
  <%= @car.mark_name %><%= @message.pull_body_block(@l, 5).html_safe %>
<% end %>

<!-- модель -->
<% if @message.pull_body_block(@l, 6).present? %>
  <%= @car.sampler_name %><%= @message.pull_body_block(@l, 6).html_safe %>
<% end %>

<!-- город -->
<% if @message.pull_body_block(@l, 7).present? %>
  <%= @car.city.name %><%= @message.pull_body_block(@l, 7).html_safe %>
<% end %>

<!-- залог -->
<% if @message.pull_body_block(@l, 8).present? %>
  <% if @deposit.present? %>
    <%= ::CommonMailerUtils.resolve_price_rub_by_locale(@deposit, @l) %>
  <% else %>
    -
  <% end %>
  <%= currency_name %><%= @message.pull_body_block(@l, 8).html_safe %>
<% end %>

<!-- дата начала аренды -->
<% if @message.pull_body_block(@l, 9).present? %>
  <%= @order.rent_from.strftime('%d.%m.%Y') %><%= @message.pull_body_block(@l, 9).html_safe %>
<% end %>

<!-- дата окончания аренды -->
<% if @message.pull_body_block(@l, 10).present? %>
  <%= @order.rent_til.strftime('%d.%m.%Y') %><%= @message.pull_body_block(@l, 10).html_safe %>
<% end %>

<!-- общий срок аренды -->
<% if @message.pull_body_block(@l, 11).present? %>
  <% rent_period = (Date.parse(@order.rent_til.to_s) - Date.parse(@order.rent_from.to_s)).to_i %>
  <%= rent_period %><%= @message.pull_body_block(@l, 11).html_safe %>
<% end %>

<!-- сумма сделки -->
<% if @message.pull_body_block(@l, 12).present? %>
  <%= ::CommonMailerUtils.resolve_price_rub_by_locale(@car.price_by_dates(@order.rent_from, @order.rent_til, @order.price_currency), @l).to_s %> <%= currency_name %>
  <%= @message.pull_body_block(@l, 12).html_safe %>
<% end %>

<!-- время оплаты -->
<% if @message.pull_body_block(@l, 13).present? %>
  <% if @order.paid_at.present? %>
    <%= @order.paid_at.strftime('%d.%m.%Y %I:%M%p') %>
  <% end %>
  <%= @message.pull_body_block(@l, 13).html_safe %>
<% end %>

<!-- заключительная часть -->
<% if @message.pull_body_block(@l, 14).present? %>
  <%= @message.pull_body_block(@l, 14).html_safe %>
<% end %>

<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>
