<% currency_code = ::CommonMailerUtils.resolve_price_currency_by_locale(@l) %>
<% currency_name = ::Currency.find_by(code: currency_code).name_by_locale(@l) %>

<!-- вступление -->
<% if @message.pull_body_block(@l, 0, @tenant.reject_link).present? %>
  <%= @message.pull_body_block(@l, 0, @tenant.reject_link).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1, @tenant.reject_link).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1, @tenant.reject_link).html_safe %>
<% end %>

<!-- марка -->
<% if @message.pull_body_block(@l, 2, @tenant.reject_link).present? %>
  <%= @car.mark_name %><%= @message.pull_body_block(@l, 2, @tenant.reject_link).html_safe %>
<% end %>

<!-- модель -->
<% if @message.pull_body_block(@l, 3, @tenant.reject_link).present? %>
  <%= @car.sampler_name %><%= @message.pull_body_block(@l, 3, @tenant.reject_link).html_safe %>
<% end %>

<!-- город -->
<% if @message.pull_body_block(@l, 4, @tenant.reject_link).present? %>
  <%= @car.city.name %><%= @message.pull_body_block(@l, 4, @tenant.reject_link).html_safe %>
<% end %>

<!-- залог -->
<% if @message.pull_body_block(@l, 5, @tenant.reject_link).present? %>
  <%= ::CommonMailerUtils.resolve_price_rub_by_locale(@deposit, @l) %> <%= currency_name %><%= @message.pull_body_block(@l, 5, @tenant.reject_link).html_safe %>
<% end %>

<!-- дата начала аренды -->
<% if @message.pull_body_block(@l, 6, @tenant.reject_link).present? %>
  <%= @order.rent_from.strftime('%d.%m.%Y') %><%= @message.pull_body_block(@l, 6, @tenant.reject_link).html_safe %>
<% end %>

<!-- дата окончания аренды -->
<% if @message.pull_body_block(@l, 7, @tenant.reject_link).present? %>
  <%= @order.rent_til.strftime('%d.%m.%Y') %><%= @message.pull_body_block(@l, 7, @tenant.reject_link).html_safe %>
<% end %>

<!-- общий срок аренды -->
<% if @message.pull_body_block(@l, 8, @tenant.reject_link).present? %>
  <% rent_period = (Date.parse(@order.rent_til.to_s) - Date.parse(@order.rent_from.to_s)).to_i %>
  <%= rent_period %><%= @message.pull_body_block(@l, 8, @tenant.reject_link).html_safe %>
<% end %>

<!-- почта и телефон арендатора -->
<% if @message.pull_body_block(@l, 9, @tenant.reject_link).present? %>
  <%= @tenant.contacts(@l) %><%= @message.pull_body_block(@l, 9, @tenant.reject_link).html_safe %>
<% end %>

<!-- сумма сделки -->
<% if @message.pull_body_block(@l, 10, @tenant.reject_link).present? %>
  <%= ::CommonMailerUtils.resolve_price_rub_by_locale(@car.price_by_dates(@order.rent_from, @order.rent_til, @order.price_currency), @l).to_s %> <%= currency_name %>
  <%= @message.pull_body_block(@l, 10, @tenant.reject_link).html_safe %>
<% end %>

<!-- Ссылки для принятия и отказа -->
<% if @message.pull_body_block(@l, 11, @tenant.reject_link).present? %>
  <br />
  <br />
  <%= link_to @decline_link_title, Rails.application.secrets.domain_name + 'orders/decline?uid=' + @order.id.to_s + '&token=' + @order.decline_token, style: 'text-decoration: none; background: #ff0000;padding: 8px;text-align: center;border-radius: 5px;color: white;font-weight: bold' %>
  <%= link_to @accept_link_title, Rails.application.secrets.domain_name + 'orders/accept?uid=' + @order.id.to_s + '&token=' + @order.accept_token, style: 'text-decoration: none; background: #00ad28;padding: 8px;text-align: center;border-radius: 5px;color: white;font-weight: bold;' %>
  <br />
  <br />
  <%= @message.pull_body_block(@l, 11, @tenant.reject_link).html_safe %>
<% end %>

<!-- заключительная часть -->
<% if @message.pull_body_block(@l, 12, @tenant.reject_link).present? %>
  <%= @message.pull_body_block(@l, 12, @tenant.reject_link).html_safe %>
<% end %>


<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>
