<% currency_code = ::CommonMailerUtils.resolve_price_currency_by_locale(@l) %>
<% currency_name = ::Currency.find_by(code: currency_code).name_by_locale(@l) %>

<!-- вступление -->
<% if @message.pull_body_block(@l, 0, @tenant.reject_link).present? %>
  <%= @message.pull_body_block(@l, 0, @tenant.reject_link).html_safe %>
<% end %>

<!-- приложение или сайт -->
<% if @message.pull_body_block(@l, 1, @tenant.reject_link).present? %>
  <%= @source %><%= @message.pull_body_block(@l, 1, @tenant.reject_link).html_safe %>
<% end %>

<!-- имя владельца авто -->
<% if @message.pull_body_block(@l, 2, @tenant.reject_link).present? %>
  <%= @landlord.t_first_name %><%= @message.pull_body_block(@l, 2, @tenant.reject_link).html_safe %>
<% end %>

<!-- почта арендатора -->
<% if @message.pull_body_block(@l, 3, @tenant.reject_link).present? %>
  <%= @tenant.emails_string %><%= @message.pull_body_block(@l, 3, @tenant.reject_link).html_safe %>
<% end %>

<!-- марка -->
<% if @message.pull_body_block(@l, 4, @tenant.reject_link).present? %>
  <%= @car.mark_name %><%= @message.pull_body_block(@l, 4, @tenant.reject_link).html_safe %>
<% end %>

<!-- модель -->
<% if @message.pull_body_block(@l, 5, @tenant.reject_link).present? %>
  <%= @car.sampler_name %><%= @message.pull_body_block(@l, 5, @tenant.reject_link).html_safe %>
<% end %>

<!-- город -->
<% if @message.pull_body_block(@l, 6, @tenant.reject_link).present? %>
  <%= @car.city.name %><%= @message.pull_body_block(@l, 6, @tenant.reject_link).html_safe %>
<% end %>

<!-- залог -->
<% if @message.pull_body_block(@l, 7, @tenant.reject_link).present? %>
  <% if @deposit.present? %>
    <%= ::CommonMailerUtils.resolve_price_rub_by_locale(@deposit, @l) %>
  <% else %>
    -
  <% end %>
  <%= currency_name %><%= @message.pull_body_block(@l, 7, @tenant.reject_link).html_safe %>
<% end %>

<!-- стоимость за 1 день -->
<% if @message.pull_body_block(@l, 8, @tenant.reject_link).present? %>
  <%= ::CommonMailerUtils.resolve_price_rub_by_locale(@car.daily_price_by_dates(@order.rent_from, @order.rent_til, @order.price_currency), @l).to_s %> <%= currency_name %>
  <%= @message.pull_body_block(@l, 8, @tenant.reject_link).html_safe %>
<% end %>

<!-- заключительная часть -->
<% if @message.pull_body_block(@l, 9, @tenant.reject_link).present? %>
  <%= @message.pull_body_block(@l, 9, @tenant.reject_link).html_safe %>
<% end %>

<br />
<br />

<!-- подпись -->
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>

