<% if flash.present? %>
    <% flash.each do |name, msg| %>
        <% klass = name == 'alert' ? 'alert-danger' : 'alert-success' %>
        <% icon  = name == 'alert' ? 'mdi-close-circle-o' : 'mdi-check' %>

        <div class="be-content flash-header">
          <div class="main-content container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div role="alert" class="alert <%= klass %> alert-icon alert-icon-colored alert-dismissible">
                  <div class="icon"><span class="mdi <%= icon %>"></span></div>
                  <div class="message">
                    <button id="flashCloseBtn" type="button" data-dismiss="alert" aria-label="Close" class="close">
                      <span aria-hidden="true" class="mdi mdi-close"></span>
                    </button>
                    <%= msg %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
