<nav class="navbar navbar-default navbar-fixed-top be-top-header">
  <div class="container-fluid">
    <div class="navbar-header"><a href="/admin" class="navbar-brand"></a></div>
    <div class="be-right-navbar">
      <ul class="nav navbar-nav navbar-right be-user-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
            <img src="<%= asset_path 'admin/avatar.png' %>" alt="Avatar">
          </a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <div class="user-info">
                <div class="user-name">Администратор</div>
              </div>
            </li>
            <li>
              <%= link_to '<span class="icon mdi mdi-power"></span> Выйти'.html_safe,
                          destroy_admin_session_path(authenticity_token: form_authenticity_token),
                          method: :delete,
                          title: 'Выйти' %>
            </li>
          </ul>
        </li>
      </ul>
      <div class="page-title"><span>Административная панель</span></div>
    </div>
  </div>
</nav>
