<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper">
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li>
              <!--<a href="<%= admin_users_path %>"><i class="icon mdi mdi-accounts-list"></i><span>Автовладельцы</span></a>-->
              <a href="<%= admin_tenants_path %>"><i class="icon mdi mdi-accounts-list"></i><span>Пользователи</span></a>
              <!--<a href="<%= admin_tenant_accounts_path %>"><i class="icon mdi mdi-accounts-list"></i><span>Аккаунты пользователей</span></a>-->
              <a href="<%= admin_mail_messages_path %>"><i class="icon mdi mdi-accounts-list"></i><span>Письма</span></a>
              <a href="<%= admin_rules_for_robots_path %>"><i class="icon mdi mdi-accounts-list"></i><span>Файл robots.txt</span></a>
            </li>
            <li class="divider">Автомобили</li>
            <li>
              <a href="<%= admin_cars_path %>"><i class="icon mdi mdi-car"></i><span>Автомобили</span></a>
              <a href="<%= admin_bodies_path %>"><i class="icon mdi mdi-car-wash"></i><span>Типы кузовов</span></a>
              <a href="<%= admin_engines_path %>"><i class="icon mdi mdi-widgets"></i><span>Типы двигателей</span></a>
              <a href="<%= admin_transmissions_path %>"><i class="icon mdi mdi-settings"></i><span>Коробки передач</span></a>
              <a href="<%= admin_colors_path %>"><i class="icon mdi mdi-invert-colors"></i><span>Цвета</span></a>
              <a href="<%= admin_cities_path %>"><i class="icon mdi mdi-city"></i><span>Города</span></a>
              <!--<a href="<%= admin_partner_offices_path %>"><i class="icon mdi mdi-city"></i><span>Партнерские офисы</span></a>-->
              <!--<a href="<%= admin_acriss_codes_path %>"><i class="icon mdi mdi-car"></i><span>ACRISS Коды</span></a>-->
              <a href="<%= admin_marks_path %>"><i class="icon mdi mdi-car"></i><span>Марки автомобилей</span></a>
              <a href="<%= admin_samplers_path %>"><i class="icon mdi mdi-car"></i><span>Модели автомобилей</span></a>
            </li>
            <li class="divider">Заказы</li>
            <li>
              <a href="<%= admin_orders_path %>"><i class="icon mdi mdi-car"></i><span>Заказы</span></a>
              <a href="<%= admin_discounts_path %>"><i class="icon mdi mdi-car"></i><span>Скидки</span></a>
              <a href="<%= admin_discount_types_path %>"><i class="icon mdi mdi-car"></i><span>Типы скидок</span></a>
            </li>
            <li class="divider">Прочее</li>
            <li>
              <a href="<%= admin_currencies_path %>"><i class="icon mdi mdi-settings"></i><span>Курсы валют</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
