<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Цвета
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_color_path %>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="colors_table">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Название (ru)</th>
                <th>Название (en)</th>
                <th>Название (ko)</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody>
              <% @colors.each do |color| %>
                <% color = Admin::ColorDecorator.new(color) %>
                <tr>
                  <td><%= color.id %></td>
                  <td><%= color.name_ru %></td>
                  <td><%= color.name_en %></td>
                  <td><%= color.name_ko %></td>
                  <td><%= color.edit_link_icon %><%= color.destroy_link_icon %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
