<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Валюты
            <div class="tools">
              <div class="icon">
                <%= form_tag(controller: "currencies", action: "update_all_currencies", method: 'post') do %>
                  <%= submit_tag("Обновить", :style => "background:transparent; border:1px solid transparent; color:#333; padding:0px;") %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <table class="table" id="currencies_table">
              <thead>
              <tr>
                <th style="width: 10%">ID</th>
                <th>Код</th>
                <th>Название (ru)</th>
                <th>Название (en)</th>
                <th>Название (ko)</th>
                <th>Номинал</th>
                <th>Курс</th>
                <th>Обновлено</th>
              </tr>
              </thead>
              <tbody>
              <% @currencies.each do |currency| %>
                <% currency = Admin::CurrencyDecorator.new(currency) %>
                <tr>
                  <td><%= currency.id %></td>
                  <td><%= currency.code %></td>
                  <td><%= currency.name_ru %></td>
                  <td><%= currency.name_en %></td>
                  <td><%= currency.name_ko %></td>
                  <td><%= currency.nominal %></td>
                  <td><%= currency.value_in_rub %></td>
                  <td><%= currency.updated_at %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
