<div class="be-content" xmlns="http://www.w3.org/1999/html">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @tenant_account.id ? 'Редактирование аккаунта' : 'Создание нового аккаунта' %>
            <div class="tools">
              <!--<%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_tenant_accounts_path %>-->
            </div>
          </div>

          <label class="control-label col-md-12">Id: <%= @tenant_account.id %></label>
          <label class="control-label col-md-12">Uid: <%= @tenant_account.uid %></label>
          <label class="control-label col-md-12">Provider: <%= @tenant_account.provider %></label>
          <label class="control-label col-md-12">Tenant_id: <%= @tenant_account.tenant_id %></label>

          <div class="panel-body">
            <%= bootstrap_form_for @tenant_account, url: {action: @tenant_account.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
              <div class="form-group">
                <div class="col-md-12">
                  <%= f.text_field :uid, label: 'Uid', prepend: "email" %>
                  <%= f.text_field :email, label: 'Электронная почта', prepend: "email" %>
                  <% if @tenant_account.id.present? %>
                    <%= f.text_field :provider, label: 'Провайдер', prepend: "provider" %>
                  <% else %>
                    <%= f.text_field :provider, label: 'Провайдер', prepend: "provider", value: "email" %>
                  <% end %>
                  <%= f.text_field :password, label: 'Пароль', prepend: "password", value: Devise.friendly_token[0,6] %>
                  <%= f.collection_select :tenant_id, Tenant.all, :id, :t_first_name, { :selected => @tenant_account.tenant_id }, class: 'form-control', include_blank: true, label: 'Пользователь' %>
                  <%= f.text_field :confirmed_at, label: 'Время подтверждения', prepend: "utc" %>
                </div>
              </div>

              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
              <% end %>

          </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
