<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Загрузка словаря
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_marks_path %>
            </div>
          </div>

          <div class="panel-body">

            <%= form_tag(controller: "dictionaries", action: "update", method: 'post') do %>

              <div class="form-group">
                <label class="control-label col-md-1">Словарь:</label>
                <div class="col-md-11">
                  <textarea class="form-control" name="dictionary" rows="25" cols="45"></textarea>
                </div>
              </div>
              <br />
              <%= submit_tag("Применить", :style => "background:transparent; border:1px solid transparent; color:#333; padding:0px;") %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
