<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @acriss.id ? 'Редактирование ACRISS Кода' : 'Создание нового ACRISS Кода' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_acriss_codes_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @acriss, url: {action: @acriss.id ? 'update' : 'create'},
                                   html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>

              <div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Фотография</label>
                <div class="col-md-10">
                  <% image_link = @acriss.image? ? @acriss.image_url : asset_path('admin/200_hold.png') %>
                  <%= image_tag(image_link, class: 'preview-image-container') %>
                  <%= f.file_field :image, label: 'Фотография' %>
                  <% if @acriss.image? %>
                    <label>
                      <%= f.check_box :remove_image, label: 'Удалить изображение' %>
                    </label>
                  <% end %>
                </div>
              </div>

              <%= f.text_field :acriss_code, label: 'Acriss Code' %>
              <%= f.text_field :group, label: 'Group' %>
              <%= f.text_field :type_of_car, label: 'Type of car' %>
              <%= f.text_field :year_of_production, label: 'Year of production' %>
              <%= f.number_field :seats, label: 'Seats' %>
              <%= f.number_field :doors, label: 'Doors' %>
              <%= f.check_box :air_condition, label: 'Air Condition' %>
              <%= f.number_field :deposit, label: 'Deposit' %>
              <%= f.text_field :guaranteed, label: 'Guaranteed' %>
              <%= f.number_field :deposit_eur, label: 'Deposit EUR' %>
              <%= f.number_field :cross_border_fee, label: 'Cross border fee' %>

              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
