<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            ACRISS Коды
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-plus"></span>'.html_safe, new_admin_acriss_code_path %> 
            </div>
          </div>
          <div class="panel-body" style="overflow: auto;">
            <table class="table" id="acriss_codes_table" data-source="<%= admin_datatables_acriss_codes_path(format: :json) %>">
              <thead>
              <tr>
                <th>ID</th>
                <th>Код</th>
                <th>Группа</th>
                <th>Типы автомобилей</th>
                <th>Управление</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
