<% if current_tenant_account.present? %>
  <% current_tenant = Tenant.find_by(id: current_tenant_account.tenant_id) %>
  <% facebook_account = TenantAccount.find_by(tenant_id: current_tenant.id, provider: :facebook) %>
  <% google_account = TenantAccount.find_by(tenant_id: current_tenant.id, provider: :google) %>
  <% email_account = TenantAccount.find_by(tenant_id: current_tenant.id, provider: :email) %>
<% end %>
<%= render "tenants/personal" %>

<main id="panel">
  <header class="main">

    <button id="menu-toggle">
    </button>

    <div class="container">
      <div class="row top-line">
        <div class="logo">
          <img src="<%= asset_path 'pages/logo.png' %>"/>
        </div>
        <div class="logo-sign">
          Personal transport in your smartphone<br>
          <span class="logo-sign__sub">Cars around you, ready to go. Book for a few hours or a few days!</span>
        </div>
        <div class="social">
          <% unless tenant_account_signed_in? %>
            <div class="social__text">Log In</div>
            <%=  link_to "", tenant_account_facebook_omniauth_authorize_path, :class => "social__item fb"  %>
            <%=  link_to "", tenant_account_google_omniauth_authorize_path, :class => "social__item ggl"  %>
          <% end %>
        </div>
      </div>
      <div class="service-info">
        <div class="service-info__text">
          Darenta - online service that<br/>
          helps individuals to share insured cars<br/>
          with tourists and other renters
        </div>
        <div class="service-info__sign">
          The service is available on Android and iOS mobile devices
        </div>
      </div>
      <div class="stores">
        <a href="https://play.google.com/store/apps/details?id=com.www.darenta" class="stores__item play-market" target="_blank"></a>
        <a href="https://itunes.apple.com/ru/app/id1441007004" class="stores__item app-store" target="_blank"></a>
      </div>
    </div>

  </header>

  <section class="content">
    <div class="container">
      <div class="car-offers">

        <% @cars.each do |car| %>
          <% if car.price_rub.present? %>
            <div class="car-offers__item row">
              <div class="car-offers__item-pic">
                <% if car.images.length != 0 %>
                  <img src="<%= car.first_image[:original] %>" alt="">
                <% else %>
                  <img src="<%= asset_path 'temp/mazda.png' %>" alt="">
                <% end %>
              </div>
              <div class="car-offers__item-content">
                <div class="car-name">
                  <%= car.full_name %>
                </div>
                <ul class="car-props">
                  <li class="car-props__item price">
                    <%= car.friendly_price('usd') %> usd per a day
                  </li>
                  <li class="car-props__item location">
                    <%= City.find_by(id: car.city_id).name_en&.strip %>
                  </li>
                  <li class="car-props__item helm">
                    <%= Transmission.find_by(id: car.transmission_id).name_en&.strip %>
                  </li>
                </ul>
              </div>
              <div class="car-offers__item-person">
                <% tenant = Tenant.find_by(id: car.tenant_id) %>
                <div class="person-photo">
                  <img src="<%= tenant.avatar %>" alt="" />
                </div>
                <div class="person-name">
                  <% name = tenant.t_first_name_en.present? ? tenant.t_first_name_en : tenant.t_first_name_ru %>
                  <%= name %>
                </div>
                <%= button_to "Rent for #{car.friendly_price('usd')} usd", car_path(car.id), remote: true, method: :get, :class => "btn btn-rent" %>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </section>
</main>

<%= javascript_include_tag "pages/main.js", "data-turbolinks-track" => true %>
