<% landlord = Tenant.find_by(id: @car.tenant_id) %>
<% transmission = Transmission.find_by(id: @car.transmission) %>
<% engine = Engine.find_by(id: @car.engine_id) %>
<% color = Color.find_by(id: @car.color_id) %>
<% body = Body.find_by(id: @car.body_id) %>
<% city = City.find_by(id: @car.city_id) %>
<div>

<%= render "tenants/personal" %>

<main id="panel">
  <header>

    <button id="menu-toggle">
    </button>

    <div class="container">
      <div class="row top-line">
        <div class="logo-small">
          <img src="<%= asset_path 'pages/logo.png' %>"/>
          <div class="logo-small__text">
            <a href="/" style="color:#fff">darenta.com</a>
          </div>
        </div>
        <div class="logo">
          <img src="assets/img/logo.png">
        </div>
        <div class="logo-sign">
          Personal transport in your smartphone<br>
          <span class="logo-sign__sub">Cars around you, ready to go. Book for a few hours or a few days!</span>
        </div>
        <div class="social">
          <% unless tenant_account_signed_in? %>
            <div class="social__text">Log In</div>
            <%=  link_to "", tenant_account_facebook_omniauth_authorize_path, :class => "social__item fb"  %>
            <!--<%=  link_to "Log In", new_tenant_account_session_path, :class => "social__item", method: :post %>-->
            <%=  link_to "", tenant_account_google_omniauth_authorize_path, :class => "social__item ggl"  %>
          <% end %>
        </div>
      </div>
      <div class="service-info">
        <div class="service-info__text">
          Darenta - online service that<br/>
          helps individuals to share insured cars<br/>
          with tourists and other renters
        </div>
        <div class="service-info__sign">
          The service is available on iOS / Android mobile devices
        </div>
      </div>
      <div class="stores">
        <a href="#" class="stores__item play-market"></a>
        <a href="#" class="stores__item app-store"></a>
      </div>
    </div>

  </header>

  <section class="content">
    <div class="container">
      <div class="car-offer">
        <div class="car-offers__item row">
          <div class="car-offers__item-pic">
            <% if @car.images.length != 0 %>
              <img src="<%= @car.first_image[:original] %>" alt="">
            <% else %>
              <img src="<%= asset_path 'temp/mazda.png' %>" alt="">
            <% end %>
          </div>
          <div class="car-offers__item-content">
            <div class="car-name"><%= @car.full_name %></div>
            <ul class="car-props">
              <li class="car-props__item price"><%= @car.friendly_price('usd') %> usd per a day</li>
              <% if city.present? %>
                <li class="car-props__item location"><%= city.name_en&.strip %></li>
              <% end %>
              <% if transmission.present? %>
                <li class="car-props__item helm"><%= transmission.name_en&.strip %></li>
              <% end %>
            </ul>
          </div>
          <div class="car-offers__item-person">
            <% if landlord.present? %>
              <div class="person-photo">
                <img src="<%= landlord.avatar %>" alt="" />
              </div>
              <div class="person-name">
                <% name = landlord.t_first_name_en.present? ? landlord.t_first_name_en : landlord.t_first_name_ru %>
                <%= name %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="car-offer__props">
          <div class="props-column">
            <div class="car-offer__prop helm">
              <div class="car-offer__prop-name">
                Year of issue
              </div>
              <div class="car-offer__prop-value">
                <%= @car.production_year %>
              </div>
            </div>
            <div class="car-offer__prop car">
              <% if transmission.present? %>
                <div class="car-offer__prop-name">
                  Transmission
                </div>
                <div class="car-offer__prop-value">
                  <%= transmission.name_en&.strip %>
                </div>
              <% end %>
            </div>
            <div class="car-offer__prop gear">
              <% if engine.present? %>
                <div class="car-offer__prop-name">
                  Engine type
                </div>
                <div class="car-offer__prop-value">
                  <%= engine.name_en&.strip %>
                </div>
              <% end %>
            </div>
            <div class="car-offer__prop color">
              <% if color.present? %>
                <div class="car-offer__prop-name">
                  Body color
                </div>
                <div class="car-offer__prop-value">
                  <%= color.name_en&.strip %>
                </div>
              <% end %>
            </div>
            <div class="car-offer__prop carcase">
              <% if body.present? %>
                <div class="car-offer__prop-name">
                 Body type
                </div>
                <div class="car-offer__prop-value">
                  <%= body.name_en&.strip %>
                </div>
              <% end %>
            </div>
            <div class="car-offer__prop aircraft">
              <div class="car-offer__prop-name">
                Transfer to the airport
              </div>
              <div class="car-offer__prop-value">
                <% if @car.is_delivery_to_airport %>
                  Yes
                <% else %>
                  No
                <% end %>
              </div>
            </div>
          </div>
          <div class="props-column">
            <div class="car-offer__prop location">
              <div class="car-offer__prop-name">
                Delivery anywhere in the city
              </div>
              <div class="car-offer__prop-value">
                <% if @car.is_delivery_to_you %>
                  Yes
                <% else %>
                  No
                <% end %>
              </div>
            </div>
            <div class="car-offer__prop armchair">
              <div class="car-offer__prop-name">
                Baby chair
              </div>
              <div class="car-offer__prop-value">
                <% if @car.is_baby_chair %>
                  Yes
                <% else %>
                  No
                <% end %>
              </div>
            </div>
            <div class="car-offer__prop navigation">
              <div class="car-offer__prop-name">
                GPS Navigator
              </div>
              <div class="car-offer__prop-value">
                <% if @car.is_navigator %>
                  Yes
                <% else %>
                  No
                <% end %>
              </div>
            </div>
            <div class="car-offer__prop wifi">
              <div class="car-offer__prop-name">
                Wi-fi
              </div>
              <div class="car-offer__prop-value">
                <% if @car.is_wifi %>
                  Yes
                <% else %>
                  No
                <% end %>
              </div>
            </div>
            <div class="car-offer__prop price">
              <div class="car-offer__prop-name">
                Price per day
              </div>
              <div class="car-offer__prop-value">
                <%= @car.friendly_price('usd') %> usd
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= form_tag controller: 'orders', action: 'create_order', method: 'get', class: '', remote: true do %>
        <%= hidden_field_tag(:car_id, @car.id, id: 'car_id_tag') %>
        <%= hidden_field_tag(:car_price, @car.price_usd, id: 'car_price_tag') %>
        <%= hidden_field_tag(:price_few_days, @car.price_few_days_usd, id: 'car_price_tag_few_days') %>
        <%= hidden_field_tag(:price_week, @car.price_week_usd, id: 'car_price_tag_week') %>
        <%= hidden_field_tag(:price_month, @car.price_month_usd, id: 'car_price_tag_month') %>

        <% if current_tenant_account.present? %>
          <%= hidden_field_tag(:current_tenant_id, current_tenant_account.tenant_id) %>
        <% end %>

        <div class="order-params">
          <div class="order-params__line">
            <div class="order-params__cell">
              <div class="order-params__name date">From</div>
              <div class="order-params__value">
                <input name="order[date_from]" type='text' class='datepicker-here' id='date_from' readonly data-date-format="yyyy-mm-dd" language="en" />
              </div>
            </div>
            <div class="order-params__cell">
              <div class="order-params__name date">Until</div>
              <div class="order-params__value">
                <input name="order[date_to]" type='text' class='datepicker-here' id='date_to' readonly data-date-format="yyyy-mm-dd" />
              </div>
            </div>
          </div>

          <div class="order-params__line">
            <div class="order-params__cell">
              <div class="order-params__name plus">Take away</div>
              <div class="order-params__value">
                <%= text_field(:order, :where_to_pickup, id: 'where_to_pickup', style: 'color:#00ad28; border:0px; border-bottom:1px solid #00ad28;', placeholder: 'Enter the address') %>
              </div>
            </div>
            <div class="order-params__cell">
              <div class="order-params__name return">Return</div>
              <div class="order-params__value text-insert">
                <%= text_field(:order, :where_to_leave, id: 'where_to_leave', style: 'color:#00ad28; border:0px; border-bottom:1px solid #00ad28', placeholder: 'Enter the address') %>
              </div>
            </div>
          </div>

        </div>
        <div class="total-line" id="rent_box">
          <div id="total_price_div">Total for rent <span id="total_price">0</span> usd</div>
          <% if current_tenant_account.present? %>
            <%= submit_tag('Rent', class:'btn btn-order', id: 'authorized_order') %>
          <% else %>
            <input type="submit" value="Rent" class="btn btn-order" id="unauthorized_order" />
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</main>
</div>


<div id="auth" class="white-popup mfp-hide">
  <div class="auth-text">
    Log in via social networks, to rent a car
  </div>
  <div class="auth-social">
    <%=  link_to "", tenant_account_facebook_omniauth_authorize_path, :class => "social__item fb"  %>
    <%=  link_to "", tenant_account_google_omniauth_authorize_path, :class => "social__item ggl"  %>
  </div>
</div>

<% if params[:Order_ID].present? %>

  <div id="success" class="white-popup mfp-hide">
    <img src="<%= asset_path 'pages/success-icon.png' %>" class="success-icon" />
    <div class="auth-text">
      Rent is successful, you will receive a confirmation email
    </div>
  </div>

  <script>
      $.magnificPopup.open({
          items: {
              src: '#success',
              type: 'inline'
          }
      });
  </script>

<% end %>

<script type="text/javascript" charset="utf-8">
    function initMap() {
        var where_to_pickup_input = document.getElementById('where_to_pickup');
        if (where_to_pickup_input) {
            new google.maps.places.Autocomplete(where_to_pickup_input);
        }

        var where_to_leave_input = document.getElementById('where_to_leave');
        if (where_to_leave_input) {
            new google.maps.places.Autocomplete(where_to_leave_input);
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&libraries=places&callback=initMap"
        async defer></script>

<script>
  var today = new Date();
  var tomorrow = new Date;
  tomorrow.setDate(tomorrow.getDate() + 1);

  

  $(document).ready(function() {
    $.fn.datepicker.language['en'] = {
      days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
      daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
      months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
      monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      today: 'Today',
      clear: 'Clear',
      dateFormat: 'mm/dd/yyyy',
      timeFormat: 'hh:ii aa',
      firstDay: 0
    };
  
    $('.datepicker-here').datepicker({
      language: 'en'
    });
    
    $('#date_from').datepicker().data('datepicker').selectDate(today);
    $('#date_to').datepicker().data('datepicker').selectDate(tomorrow);
  });

  $('#date_from').datepicker({
    minDate: today,
    onSelect: function(fd, d, picker) {
      if (!d) return;

      let date_to = Date.parse($('#date_to').val(), "yyyy-MM-dd");
      if(date_to == null) {
        $(':input[type="submit"]').prop('disabled', true);
        $('#total_price_div').hide();
        return;
      }

      if(compare_dates(d, date_to)) {
        calc_price(d, date_to);
        $(':input[type="submit"]').prop('disabled', false);
        $('#total_price_div').show();
      }
      else {
        $(':input[type="submit"]').prop('disabled', true);
        $('#total_price_div').hide();
      }
    }
  });

  $('#date_to').datepicker({
    minDate: tomorrow,
    onSelect: function(fd, d, picker) {
      if (!d) return;

      let date_from = Date.parse($('#date_from').val(), "yyyy-MM-dd");
      if(date_from == null) {
        $(':input[type="submit"]').prop('disabled', true);
        $('#total_price_div').hide();
        return;
      }

      if(compare_dates(date_from, d)) {
        calc_price(date_from, d);
        $(':input[type="submit"]').prop('disabled', false);
        $('#total_price_div').show();
      }
      else {
        $(':input[type="submit"]').prop('disabled', true);
        $('#total_price_div').hide();
      }
    }
  });

  function compare_dates(date_from, date_to) {
    return date_to > date_from ? true : false;
  }

  function calc_price(date_from, date_to) {
    let day_price = $('#car_price_tag').val();
    let few_days_price = $('#car_price_tag_few_days').val();
    let week_price = $('#car_price_tag_week').val();
    let month_price = $('#car_price_tag_month').val();

    let milliseconds = date_to - date_from;
    let seconds = milliseconds / 1000;
    let minutes = seconds / 60;
    let hours = minutes / 60;
    let days = hours / 24;
    let weeks = days / 7;
    let months = days / 30;

    days = Math.floor(days);

    let total_price = 0.0;
    if(days >= 30) {
      total_price = month_price * days;
    } else if(days >= 7) {
      total_price = week_price * days;
    } else if(days >=2) {
      total_price = few_days_price * days;
    } else {
      if(days === 0)
      {
        days = 1;
      }
      total_price = day_price * days;
    }

    total_price = Math.round(total_price * 100) / 100;
    if (total_price >= 0) {
      $('#total_price').text(total_price);
    }
    else {
      $('#total_price_div').hide();
    }
  }
</script>

<%= javascript_include_tag "pages/main.js", "data-turbolinks-track" => true %>