<% if @message.pull_body_block(@l, 0, @reject_link).present? %>
  <%= @message.pull_body_block(@l, 0, @reject_link).html_safe %>
  <!-- приложение или сайт -->
  <% if @message.pull_body_block(@l, 1, @reject_link).present? %>
    <%= @source %><%= @message.pull_body_block(@l, 1, @reject_link).html_safe %>
    <% if @message.pull_body_block(@l, 2, @reject_link).present? %>
      <%= @name %><%= @message.pull_body_block(@l, 2, @reject_link).html_safe %>
      <% if @message.pull_body_block(@l, 3, @reject_link).present? %>
        <%= @provider %><%= @message.pull_body_block(@l, 3, @reject_link).html_safe %>
        <br />
        <br />
        <%= link_to  @confirm_link_title, confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: 'https://darenta.com/confirm_successful.html'}).html_safe, style: 'text-decoration: none; background: #00ad28;padding: 8px;text-align: center;border-radius: 5px;color: white;font-weight: bold;' %>
        <br />
        <br />
        <% if @message.pull_body_block(@l, 4, @reject_link).present? %>
          <%= @message.pull_body_block(@l, 4, @reject_link).html_safe %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br />
<br />
<% if @message.pull_footer_block(@l, 0).present? %>
  <%= @message.pull_footer_block(@l, 0).html_safe %>
<% end %>
