<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @message.id ? 'Редактирование текста письма' : 'Создание нового текста письма' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_mail_messages_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @message, url: {action: @message.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
              <div class="form-group avatar-wrapper">
                <div class="col-md-10">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2">Идентифиактор в таблице</label>
                <div class="col-md-10">
                  <input class="form-control" name="mail_message[title]" value="<%= @message.title %>"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2">Key</label>
                <div class="col-md-10">
                  <input class="form-control" name="mail_message[key]" value="<%= @message.key %>"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2">Данные пиьма</label>
                <div class="col-md-10">
                  <ul class="nav nav-tabs">
                    <% I18n.available_locales.each do |l| %>
                      <li class="<%= 'active native' if l == :ru %>">
                        <%= link_to l.to_s, "#tab_#{l.to_s}", data: { toggle: 'tab' } %>
                      </li>
                    <% end %>
                  </ul>

                  <div class="tab-content">

                    <% I18n.available_locales.each do |l| %>
                      <div class="tab-pane fade<%= ' active in' if l == :ru %>" id='<%= "tab_#{l.to_s}" %>'>


                        <div class="form-group">
                          <label class="control-label col-md-2">Тема письма</label>
                          <div class="col-md-10">
                            <input class="form-control" name="mail_message[message_title_<%=l.to_s%>]" value="<%= @message.pull_title(l.to_s)%>" />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-2">Тело письма</label>
                          <div class="col-md-10">
                            <textarea class="form-control" name="mail_message[message_body_<%=l.to_s%>]" rows="10" cols="45"><%= @message.pull_body(l.to_s) %></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-2">Подпись</label>
                          <div class="col-md-10">
                            <input class="form-control" name="mail_message[message_footer_<%=l.to_s%>]" value="<%= @message.pull_footer(l.to_s) %>" />
                          </div>
                        </div>


                      </div>
                    <% end %>

                  </div>
                </div>
              </div>

              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
