<div class="be-content">
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @user.id ? 'Редактирование автовладельца' : 'Создание нового автовладельца' %>
            <div class="tools">
              <%= link_to '<span class="icon mdi mdi-long-arrow-return"></span>'.html_safe, admin_users_path %>
            </div>
          </div>

          <div class="panel-body">
            <%= bootstrap_form_for @user, url: {action: @user.id ? 'update' : 'create'}, html: {class: 'form-horizontal form-bordered col-md-12 col-sm-12 col-xs-12 p0'},
                                   layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10' do |f| %>
              <div class="form-group avatar-wrapper">
                <label class="control-label col-md-2">Аватар</label>
                <div class="col-md-10">
                  <% image_link = @user.avatar? ? @user.avatar_url : asset_path('admin/200_hold.png') %>
                  <%= image_tag(image_link, class: 'preview-image-container') %>
                  <%= f.file_field :avatar, label: 'Аватар' %>
                  <% if @user.avatar? %>
                    <label>
                      <%= f.check_box :remove_avatar, label: 'Удалить аватар' %>
                    </label>
                  <% end %>
                </div>
              </div>
              <%= f.email_field :email %>

              <div class="form-group">
                <label class="control-label col-md-2">Персональные данные</label>
                <div class="col-md-10">
                  <ul class="nav nav-tabs">
                    <% I18n.available_locales.each do |l| %>
                      <li class="<%= 'active native' if l == :ru %>">
                        <%= link_to l.to_s, "#tab_#{l.to_s}", data: { toggle: 'tab' } %>
                      </li>
                    <% end %>
                  </ul>

                  <div class="tab-content">
                    <% I18n.available_locales.each do |l| %>
                      <div class="tab-pane fade<%= ' active in' if l == :ru %>" id='<%= "tab_#{l.to_s}" %>'>
                        <% f.globalize_fields_for_locale l do |g| %>
                          <div class="form-group">
                            <%= g.label 'Фамилия', class: 'control-label col-md-1' %>
                            <div class="col-md-11">
                              <%= g.text_field :last_name, class: 'form-control' %>
                            </div>
                          </div>

                          <div class="form-group">
                            <%= g.label 'Имя', class: 'control-label col-md-1' %>
                            <div class="col-md-11">
                              <%= g.text_field :first_name, class: 'form-control' %>
                            </div>
                          </div>

                          <div class="form-group">
                            <%= g.label 'Отчество', class: 'control-label col-md-1' %>
                            <div class="col-md-11">
                              <%= g.text_field :middle_name, class: 'form-control' %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <hr/>
              <p class="text-right">
                <button type="submit" class="btn btn-space btn-primary">Сохранить</button>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
