<!DOCTYPE html>
<html>
<head>
  <title>Darenta Administration</title>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag 'admin/application'%>
</head>
<body>
<div class="be-wrapper be-fixed-sidebar">
  <%= render 'admin/partials/flash' %>
  <%= render 'admin/partials/header' %>
  <%= render 'admin/partials/left_sidebar' %>
  <%= yield %>
</div>
</body>

<script type="text/javascript" charset="utf-8">
  function initMap() {
    var input = document.getElementById('car_address');
    if (input) {
      new google.maps.places.Autocomplete(input);
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&libraries=places&callback=initMap"
        async defer></script>

<%= javascript_include_tag 'admin/application' %>
</html>
