<!DOCTYPE html>
<html>
<head>
  <title>Darenta</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin/application'%>
  <%= javascript_include_tag 'admin/application' %>
</head>
<body class="be-splash-screen">

<div class="be-wrapper be-login">
  <div class="be-content">
    <div class="main-content container-fluid">
      <div class="splash-container">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
          <div class="panel-heading">
            <img src="<%= asset_path 'admin/logo-xx.png' %>" alt="logo" width="102" height="27" class="logo-img">
            <span class="splash-description"></span>
          </div>
          <div class="panel-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
