<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Darenta</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'admin/application'%>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  <%= stylesheet_link_tag "pages/main", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag "pages/normalize", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag "pages/magnific-popup", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag "pages/datepicker.min", media: "all", "data-turbolinks-track" => false %>


  <%= javascript_include_tag "pages/slideout.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "pages/jquery-3.3.1.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "pages/jquery.magnific-popup.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "pages/datepicker.min.js", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "pages/date.js", "data-turbolinks-track" => true %>

  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <![endif]-->


</head>
<body>
<div>
  <%= yield %>
</div>
</body>
</html>